# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_config_dev.yml
_posts_default/

# End of https://www.toptal.com/developers/gitignore/api/jekyll
